<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceVehiculoSoap" />
                <binding name="HelloEndpointServiceSoapBinding" />
                <binding name="BasicHttpBinding_IWCFVehiculo" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1216/soap/WebServiceVehiculo.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceVehiculoSoap"
                contract="ServiceReference1.WebServiceVehiculoSoap" name="WebServiceVehiculoSoap" />
            <endpoint address="http://www.learnwebservices.com/services/hello"
                binding="basicHttpBinding" bindingConfiguration="HelloEndpointServiceSoapBinding"
                contract="ServiceReference2.HelloEndpoint" name="HelloEndpointPort" />
            <endpoint address="http://localhost:1216/wcf/WCFVehiculo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFVehiculo"
                contract="ServiceReference3.IWCFVehiculo" name="BasicHttpBinding_IWCFVehiculo" />
        </client>
    </system.serviceModel>
</configuration>